@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap');

:root{
    /* Font Family */
    --ff: 'Source Sans Pro', sans-serif;

    /* Font Size */
    font-size: 16px;

    /* Font-Weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-sbold: 600;
    --fw-black: 900;

    /* Font-Size */
    --fs-light: 0.5rem;
    --fs-n: 1rem;
    --fs-nm: 1.5rem;
    --fs-m: 2rem;
    --fs-mm: 2.5rem;
    --fs-l:3rem;
    --fs-lm:3.5rem;
    --fs-xl:4rem;
    --fs-xlm:4.5rem;
    --fs-xxl:5rem;
    --fs-xxlm:5.5rem;
    --fs-xxxl: 6rem;
    --fs-xxxlm: 6.5rem;
    --fs-xxxxl: 7rem;
    --fs-xxxxlm: 7.5rem;

    /* Colors */
    --clr-dark: #000;
    --clr-light: #fff;
    --clr-link: #0070f3;

    /* Accents */
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --accents-3: #999;
    --accents-4: #888; 
    --accents-5: #666;
    --accents-6: #444;
    --accents-7: #333;
    --accents-8: #111;

    /* Border radius & Shadows */
    --br: 5px;
    --bshadow: 0 0 0 1px rgba(0,0,0,.03), 0 2px 4px rgba(0,0,0,.05), 0 4px 16px rgba(0,0,0,.05);
    --border-padding:  1rem;

    /* Transitions */
    --tr-fast: 0.4s;
    --tr-regular: 0.6s;
    --tr-slow: 0.8s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

html{
    scroll-behavior: smooth;
}

body{
    /* border: 8px solid red; */
}

/* Sidenav */
.sidenav{
    /* border: 6px solid green; */
    background-color: var(--clr-dark);
    position: fixed;
    overflow: hidden;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: var(--tr-fast);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sidenav header */
.sn-header{
    /* border: 4px solid purple; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--fs-n);
}

.sn-header-cls-btn{
    /* border:2px solid orangered; */
    color: var(--clr-light);
    cursor: pointer;
}



.sn-header-social-container{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    gap: 0 var(--fs-nm);
}

/* Sn social icons (Anchor) */
.sn-header-social-icons{
    color: var(--clr-light);
    cursor: pointer;
    font-size: var(--fs-n);
    transition: var(--tr-fast);
}

.sn-header-social-icons:hover{
    transform: scale(1.5);
}


.sn-nav{
    /* border: 6px solid red; */
}

.sn-nav-list{
    /* border: 4px solid green; */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-m);
}

.sn-nav-list-items{
    /* border: 4px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sn-nav-list-a{
    text-align: center;
    color: var(--clr-light);
    text-decoration: none;
    font-size: var(--fs-nm);
    cursor: pointer;
    transition: var(--tr-fast);
}

.sn-nav-list-a:hover{
    color: var(--clr-link);
}

/* Header*/

header{
    position: fixed;
    background-color: var(--clr-light);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* General Wrapper and Settings */
.general-content-wrapper{
    /* border: 6px solid black; */
    width: 100%;
    max-width: 1440px;
}

header,main,footer{
    /* border: 4px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header content Wrapper */
.header-content-wrapper{
    /* border: 2px solid orangered; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--fs-n);
}

.header-logo{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-a{
    cursor: pointer;
    text-decoration: line-through;
    color: var(--clr-dark);
    letter-spacing: 1.5px;
    font-weight: var(--fw-black);
    font-size: calc(var(--fs-n) * 1.2);
}

/* Desktop nav */
.desktop-header-nav{
    /* border: 2px solid red; */
    display: none;
}

.header-nav-list{
    /* border: 2px solid green; */
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--fs-n);
}

.header-nav-list-a{
    text-decoration: none;
    cursor: pointer;
    color: var(--accents-5);
    font-weight: var(--fw-sbold);
    transition: var(--tr-slow);
}

.header-nav-list-a:hover{
    color: var(--clr-link);
}

.header-opn-btn{
    cursor: pointer;
}

/* Main */
main{
    /* border: 2px solid purple; */
}

.main-content-wrapper{
    padding: var(--fs-n);
}


.sections{
    /* border: 2px solid green; */
    /* height: 100vh; */
    position: relative;
    margin: var(--fs-xxxxlm) 0;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--fs-mm);
}

.hero-img-container{
    /* border: 2px solid red; */
    overflow: hidden;
    width: 100%;
    max-width: 768px;
}

.hero-profile-img{
    /* border: 2px solid blue; */
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}

/* Hero Textbox */
.hero-textbox{
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--fs-n);
}

.hero-textbox-small{
    font-weight: var(--fw-regular);
    color: var(--accents-7);
}

.hero-textbox-heading{
    font-size: var(--fs-xl);
    font-weight: var(--fw-black);
}

.hero-textbox-parag{
    color: var(--accents-7);
}

.hero-textbox-contact-btn{
    border: 2px solid var(--clr-link);
    padding: var(--border-padding);
    border-radius: var(--br);
    background: none;
    font-weight: var(--fw-sbold);
    text-decoration: none;
    color: var(--clr-dark);
    display: flex;
    align-items: center;
    gap: var(--fs-light);
    /* border: none; */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* About me */

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--fs-mm);
    height: 100vh;
}

.about-me-img-container{
    /* border: 4px solid blue; */
    position: absolute;
    top: var(--fs-mm);
    right: 0;
    width: 50%;
    aspect-ratio: 1 / 1;
}

.about-me-profile-img{
    /* border: 5px solid purple; */
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: none;
}

/* Textbox */

.about-me-textbox{
    /* border: 4px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-n);
}

.about-me-heading{
    /* border: 4px solid blue; */
    font-size: var(--fs-xxlm);
}

.about-me-parag{
    /* border: 4px solid green; */
    color: var(--accents-7);
}

/* Stats Container */

.about-me-stats-container{
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: var(--fs-n);
}

.about-me-stat-wrapper{
    /* border: 2px solid var(--accents-7); */
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: var(--br);
    padding: var(--fs-light);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.about-me-stat-number{
    /* border: 2px solid orange; */
    font-size: var(--fs-m);
    font-weight: var(--fw-black);
}

.about-me-stat-description{
    /* border: 2px solid purple; */
    color: var(--accents-7);
}

.about-me-downloadcv-btn{
    border: none;
    padding: var(--border-padding);
    border-radius: var(--br);
    background-color: var(--clr-dark);
    text-decoration: none;
    color: var(--clr-light);
    display: flex;
    align-items: center;
    gap: var(--fs-light);
    font-size: var(--fs-n);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: var(--fw-sbold);
}

.about-me-downloadcv-btn-icon{
    /* border: 3px solid black; */
}


/* Section Projects */
.projects{
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--fs-mm);
}

.projects-textbox{
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-n);
}

.projects-heading{
    /* border: 2px solid red; */
    font-size: var(--fs-l);
}

.projects-parag{
    /* border: 2px solid purple; */
    color: var(--accents-7);
}

.ss-container{
    /* border: 10px solid black; */
    position: relative;
    height: 500px;
    max-height: 450px;
    overflow: hidden;
    border-radius: var(--br);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 768px;
}

.ss-slide{
    /* border: 8px solid blue; */
    position: absolute;
    inset: 0 0 0 0;
    transition: var(--tr-fast) ease;
}

.ss-slide-img{
    /* border: 6px solid green; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ss-slide-textbox{
    /* border: 4px solid orange; */
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #000000EE, transparent);
    padding: var(--fs-n) var(--fs-light);
    width: 100%;
}

.ss-slide-textbox-heading{
    /* border: 4px solid purple; */
    color: var(--clr-light);
    letter-spacing: 2px;
    font-size: var(--fs-n);
}

.ss-slide-textbox-parag{
    /* border: 4px solid brown; */
    color: var(--accents-2);
    font-size: .8rem;
}

.ss-slide-textbox-a{
    /* border: 4px solid rgb(0, 255, 229); */
    color:var(--clr-link);
    font-size: .8rem;
}

/* Arrow Controls */
.prev-btn, .next-btn{
    /* border: 7px solid red; */
    font-size: var(--fs-nm);
    padding: var(--fs-light);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: var(--tr-fast);
    color: var(--clr-light);
    display: none;
}

.prev-btn{
    left: 0;
}

.next-btn{
    right: 0;
}

.prev-btn:hover, .next-btn:hover{
    background-color: #00000088;
}

/* Dots Container */
.dots-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--fs-n);
}

.dot{
    /* border: 1px solid green; */
    background-color: #CCCCCC44;
    border-radius: 50%;
    width: var(--fs-n);
    height: var(--fs-n);
    transition: var(--tr-fast) ease;
}

.dot:hover{
    background-color: #000000CC;
}

/* Education */
.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--fs-mm);
}

.education-textbox{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-n);
}

.education-heading{
    /* border: 2px solid blue; */
    font-size: var(--fs-l);
}

.education-parag{
    /* border: 2px solid green; */
    color: var(--accents-7);
}

/* Education Areas */
.education-areas-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--fs-nm);
    width: 100%;
    max-width: 425px;
}

.education-area-card{
    /* border: 2px solid var(--accents-7); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-light);
    border-radius: var(--br);
    overflow: hidden;
    padding: var(--fs-n);
    max-width: 768px;
    width: 100%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.education-area-card-icon{
    /* border: 2px solid black; */
}

.area-card-heading{
    /* border: 2px solid red; */
}

.area-card-parag{
    /* border: 2px solid green; */
    color: var(--accents-7);
}

.area-card-a{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    gap: var(--fs-light);
    /* text-decoration: none; */
    color: var(--clr-link);
    font-weight: var(--fw-sbold);
    cursor: pointer;
    width: 100%;
    text-align: left;
}

/* Skills */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--fs-mm);
}

.skills-textbox{
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-n);
}

.skills-heading{
    /* border: 2px solid blue; */
    font-size: var(--fs-l);
}

.skills-parag{
    /* border: 2px solid black; */
    color: var(--accents-7);
}

/* Skills Container */
.skills-techs-container{
    /* border: 2px solid var(--accents-7); */
    display: flex;
    flex-wrap: wrap;
}

.skills-techs-wrappers{
    /* border: 2px solid var(--accents-7); */
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.skills-techs-logo{
    /* border: 2px solid green; */
    font-size: var(--fs-lm);
    color: var(--accents-7);
}

.skills-techs-name{
    /* border: 2px solid brown; */
    color: var(--accents-7);
}

/* Contact Me */
.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--fs-mm);
}

.contact-me-textbox{
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-n);
}

.contact-me-heading{
    /* border: 2px solid blue; */
    font-size: var(--fs-l);
}

.contact-me-parag{
    /* border: 2px solid green; */
    color: var(--accents-7);
}

/* Form */

form{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--accents-7);
    background-color: var(--accents-7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--fs-nm);
    border-radius: var(--br);
    padding: var(--fs-n);
    max-width: 425px;
    width: 100%;
}

.form-personalia{
    /* border: 4px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: var(--fs-n);
}

.form-input-wrapper{
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-n);
}

.input-icon-wrapper{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    background-color: var(--clr-light);
    padding: 0 var(--fs-n);
    gap: var(--fs-n);
    border-radius: var(--br);
    border: none;
}

input[type=text],input[type=email]{
    /* border: 2px solid red; */
    font-size: var(--fs-n);
    color: var(--accents-7);
    border: none;
    padding: var(--fs-n) 0;
    outline: none;
    width: 100%;
}

label{
    color: var(--clr-light);
}

.input-icon{
    /* border: 2px solid orangered; */
}

/* Services */
.form-services{
    /* border: 4px solid red; */
    width: 100%;
}

.services-input-wrapper{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--fs-n);
}

select{
    font-size: var(--fs-n);
    padding: var(--fs-n);
    border-radius: var(--br);
    border: none;
}

/* Details */
.form-details{
    /* border: 2px solid red; */
    width: 100%;
}

.details-input-wrapper{
    /* border: 2px solid blueviolet; */
    display: flex;
    flex-direction: column;
    gap: var(--fs-n);
}

textarea{
    padding: var(--fs-n);
    font-size: var(--fs-n);
    resize: none;
    border-radius: var(--br);
    border: none;
}

.form-submit-btn{
    border: 2px solid var(--clr-light);
    padding: var(--border-padding);
    border-radius: var(--br);
    background: none;
    text-decoration: none;
    color: var(--clr-light);
    display: flex;
    align-items: center;
    gap: var(--fs-light);
    font-size: var(--fs-n);
    cursor: pointer;
    font-weight: var(--fw-sbold);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.1);
}

/* Form */
.footer-content-wrapper{
    position: relative;
    /* border: 4px solid green; */
    padding: var(--fs-n);
    display: flex;
    flex-direction: column;
    gap: var(--fs-light)
}

.footer-nav{
    /* border: 2px solid black; */
}

.footer-nav-list{
    /* border: 2px solid red; */
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--fs-light);
}

.footer-nav-list-items{
    /* border: 2px solid green; */
}

.footer-nav-list-items-a{
    /* border: 2px solid blue; */
    text-decoration: none;
    font-weight: var(--fw-sbold);
    color: var(--clr-dark);
}

.footer-social-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--fs-light);
}

.footer-social-a-icons{
    /* border: 2px solid black; */
    color: var(--accents-7);
    cursor: pointer;
    transition: var(--tr-fast);
}

.footer-social-a-icons:hover{
    font-size: var(--fs-nm);
}

.footer-copyright-parag{
    /* border: 2px solid green; */
    text-align: center;
    color: var(--accents-7);
}

.return-to-top-btn{
    /* border: 2px solid purple; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--accents-7);
}

@media (min-width: 321px) {
    .about-me{
        height: auto;
    }
    /*About Me Settings */
    .about-me-img-container{
        display: none;
    }

    /* Text-aligns */
    .about-me-textbox, 
    .projects-textbox,
    .education-textbox,
    .skills-textbox,
    .contact-me-textbox{
        text-align: center;
    }
}

@media (min-width: 425px) {
    p,small{
        font-size: calc(var(--fs-n) * 1.2);
    }

    .hero-textbox-heading{
        font-size: var(--fs-xxlm)
    }

    .about-me-heading{
        font-size: var(--fs-xxxl);
    }

    .projects-heading,
    .education-heading,
    .skills-heading,
    .contact-me-heading{
        font-size: var(--fs-xlm);
    }

    .prev-btn, .next-btn{
        display: block;
        padding: var(--fs-n);
}

.ss-slide-textbox-heading{
    font-size: var(--fs-n);
}

.ss-slide-textbox-parag, .ss-slide-textbox-a{
    font-size: var(--fs-n);
} 
}

@media (min-width: 769px) {
    .desktop-header-nav{
        display: block;
    }

    .about-me-stats-container{
        flex-direction: row;
        gap: var(--fs-nm);
    }

    .education-areas-container{
        flex-direction: row;
        align-items: stretch;
        min-width: 768px;
    }

    .education-area-card{
        justify-content: space-between;
        text-align: center;
    }

    .area-card-a{
        justify-content: center;
    }

    .header-opn-btn{
        display: none;
    }

    .skills-techs-container{
        gap: var(--fs-m)
    }

    .skills-techs-wrappers{
        width: 20%;
        border-radius: var(--br);
    }
}



