@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

:root{
    /* Font-family */
    --ff: 'Inter', sans-serif;

    /* Font-Weights */
    --fw-n: 400;
    --fw-m: 600;
    --fw-l: 700;
    --fw-xl: 900;

    /* Font-Size */
    --fs-n: 1em;
    --fs-nb: 1.4em;
    --fs-m: 2em;
    --fs-l: 3em;
    --fs-xl: 4em;

    /* Spacing */
    --spacer-lg: 0.8rem;
    --spacer-n: 1rem;
    --spacer-m: calc(var(--spacer-n) * 2);
    --spacer-l: calc(var(--spacer-n) * 3);
    --spacer-xl: calc(var(--spacer-n) * 4);


    /* Custom Colors */
    --primary-clr: #161713;
    --secondary-clr: #B9BAC0;
    --third-clr: #D9D9DE; 

    /* Radius, bxshadows*/
    --br: 5px;
    --shadow: 0 0 1em rgba(0,0,0,.25);

    /* Transitions */
    --t-slow: .4s;
    --t-verysl: .6s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

html{
    /* border: 10px solid red; */
}

body{
    /* border: 8px solid blue; */
    position: relative;
}

.sidenav{
    /* border: 6px dashed green; */
    background-color: var(--primary-clr);
    position: fixed;
    inset: 0 0 0 0;
    overflow: hidden;
    z-index: 4;
    transform: translateY(-100%);
    transition: var(--t-slow);
}

.sn-controls{
    /* border: 2px solid white; */
    position: absolute;
    right: var(--spacer-n);
    top: var(--spacer-n);
    display: flex;
    align-items: center;
    gap: var(--spacer-lg);
}

nav{
    /* border: 4px solid rgb(21, 241, 248); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacer-m);
}

.sn-nav-a{
    /* border: 2px solid white; */
    text-decoration: none;
    color: var(--third-clr);
    font-size: var(--fs-nb);
    font-weight: var(--fw-n);
    transition: var(--t-slow);
}

.sn-nav-a:hover{
    color: #0066FF;
}

/* Aún no le daremos hover.. (Desktop) */
header{
    /* border: 4px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacer-lg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.header-logo{
    /* border: 2px solid salmon; */
    text-decoration: none;
    color: var(--primary-clr);
    font-size: var(--fs-n);
    font-weight: var(--fw-l);
}

.openbtn{
    /* border:2px solid brown; */
}

/*Main Content (level 0)  */
main{
    /* border: 4px solid pink; */
}

.hero{
    /* border: 4px solid purple; */
    position: relative;
    height: 100vh;
}

video{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index: 0;
}

.hero-textbox{
    position: absolute;
    /* border: 4px solid green; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacer-lg);
    bottom: 0;
    gap: var(--spacer-lg);
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.hero-h2{
    /* border:2px solid red; */
    text-align: center;
    font-size: var(--fs-m);
    font-weight: var(--fw-l);
    color: var(--primary-clr);
}

.hero-h2-span{
    color: #0066FF;
    text-decoration: line-through;
}

.hero-parag{
    /* border: 2px solid blue; */
    text-align: center;
    color: var(--primary-clr);
}

.hero-button{
    background-color: var(--primary-clr);
    width: fit-content;
    padding: var(--spacer-lg);
    border-radius: var(--br);
    border: none;
    color: var(--third-clr);
    box-shadow: var(--shadow);
    font-weight: var(--fw-m);
}









